/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;

}

#left, #middle, #right, section, #division, aside {
  color: #ffff;
}

#left, #middle, #right {
  width: 33.3%;
}

body {
  font-size: 24px;
  line-height: 32px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

#left {
  background-color: #30948d;
  float: left;  
}

#middle {
  background-color: #9e1212;
  float: left;
}

#right {
  background-color: #30948d;
  float: left;
}

#full {
  background-color: #394549;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  padding: 20px;
  overflow: auto;
  clear: both;
}

#division {
  padding: 20px;
  margin-top: 20px;
  background-color: #6ea6da;
  
}

aside {
  float: left;
  background-color: #a6b747;
  border: 1px solid #eee;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
}

footer {
  padding: 20px;
  clear: both;
  background-color: #ffa500;
}