#01-CustomerObject
01-CustomerObject/Solved
02-Ajax_OMDB
03-AJAX_to_HTML
03-AJAX_to_HTML/Solved
04-Giphy_API
05-Bujumbura
05-Bujumbura/Solved
06-MovieJSONDump
06-MovieJSONDump/Solved
07-MovieButtonLayout
07-MovieButtonLayout/Solved
08-LogMovieName
08-LogMovieName/Solved
09-ClickJSON
09-ClickJSON/Solved
10-WorkingMovieApp
10-WorkingMovieApp/Solved
11-BandsInTownApp
11-BandsInTownApp/Solved
12-CatButton
12-CatButton/Solved
13-ButtonTriggeredAJAX
13-ButtonTriggeredAJAX/Solved
14-DynamicElements
14-DynamicElements/Solved
15-PausingGifs
15-PausingGifs/Solved
16-NYTSearch
16-NYTSearch/Instructions
16-NYTSearch/Solved