01-animalsDB
02-FavoriteDB-NoData
02-FavoriteDB-NoData/Solved
03-animalsDBWithID
04-programmingDB
04-programmingDB/Solved
05-booksDB
06-iceCreamWithConnection
07-iceCreamReadData
08-playlistRead
08-playlistRead/Solved
09-iceCreamCRUD
10-GreatBay
10-GreatBay/Solved
11-popQuiz
11-popQuiz/Solved
12-Top5000Schema
12-Top5000Schema/Solved
13-Top5000Code
13-Top5000Code/Solved
14-TwoTables
14-TwoTables/Solved