#01-Stu_Lighthouse
#02-Stu_Minify-JS
#03-Stu_Enable-Compression
#04-Stu_Image-Compression
#05-Stu_Gallery-Lazy-Load
#05-Stu_Gallery-Lazy-Load/Solved
#06-Stu_Gallery-Optimize/Unsolved
#06-Stu_Gallery-Optimize/Solved
#07-Stu_PWAs
#08-Ins_Manifest
#09-Stu_Manifest
#09-Stu_Manifest/Solved
#10-Ins_Service_Workers
#11-Stu_Service_Workers
#11-Stu_Service_Workers/Solved
#12-Ins_Caching_Fetching_Files
#13-Stu_Caching_Fetching_Files
#13-Stu_Caching_Fetching_Files/Solved
#14-Stu_Map-PWA
#14-Stu_Map-PWA/Solved
#15-Ins-Webpack-Intro
#15-Ins-Webpack-Intro/src
#16-Stu-Webpack-Intro
#16-Stu-Webpack-Intro/Solved
#17-Ins-First-Plugin
#17-Ins-First-Plugin/src
#18-Stu-Webpack-Plugin
#18-Stu-Webpack-Plugin/Solved
#19-Ins-Pure-Functions
#19-Ins-Pure-Functions/src
#20-Stu-PWA-refactor
#20-Stu-PWA-refactor/Solved
#21-Ins-Chunking
#21-Ins-Chunking/src
#22-Stu-Chunking
#22-Stu-Chunking/Solved
#23-Stu-Mini-Project
23-Stu-Mini-Project/Solved